<dal name="xpipe">
	<databaseSets>
		<databaseSet name="fxxpipeDB_W" provider="mySqlProvider">
            <add name="fxxpipeDB_W" databaseType="Master" sharding="$entry.getSharding()" connectionString="fxxpipeDB_W"/>
		    <!--
            <add name="fxxpipeDB_W" databaseType="Master" sharding="$entry.getSharding()" connectionString="PkgOrderDB_SELECT_1"/>
            -->
		</databaseSet>
		<databaseSet name="testSqlServer" provider="sqlProvider">
            <add name="testSqlServer" databaseType="Master" sharding="$entry.getSharding()" connectionString="testSqlServer"/>
		</databaseSet>
	</databaseSets>
	<LogListener>
		<logger>com.ctrip.platform.dal.sql.logging.CtripDalLogger</logger>
	</LogListener>
	<ConnectionLocator>
		<settings>
            <useLocalConfig>true</useLocalConfig>
            <databaseConfigLocation>$classpath</databaseConfigLocation>
		    <!--
            -->
			<dataSourceConfigureProvider>com.ctrip.datasource.titan.TitanProvider</dataSourceConfigureProvider>
		</settings>
	</ConnectionLocator>
	<TaskFactory>
        <!--
        <factory>com.ctrip.platform.dal.dao.task.DefaultTaskFactory</factory>
		-->
		<factory>com.ctrip.platform.dal.dao.CtripTaskFactory</factory>
	</TaskFactory>
</dal>
