<?xml version="1.0" encoding="UTF-8"?>

<connectionStrings Version="dev">

	<add name="testSqlServer" connectionString="Data Source=10.32.21.17,2761;UID=sa;password=Ctrip1234;database=testdb;" providerName="System.Sql.SqlClient"/>
    <add name="fxxpipeDB_W" connectionString="Server=test.domain;port=3306;UID=root;password=root;database=fxxpipedb;" providerName="Arch.Data.MySqlProvider"/>

</connectionStrings>
